---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <!-- Header -->
  <header class="fixed top-0 left-0 z-40 flex h-16 w-full items-center justify-end bg-[#035C31] px-6 text-white">
    <h1 class="text-lg font-bold">Hi, I'm Vinay!</h1>
  </header>


  <main class="flex flex-col grow justify-center py-10 pt-16 w-full px-4">
    <!-- Section 1 -->
    <section class="mt-6 mb-8">
      <div class="flex h-48 items-center justify-center rounded-lg border border-gray-200 bg-white text-lg font-semibold text-gray-700">About Me</div>
    </section>

    <section class="my-8 flex flex-col md:flex-row md:gap-4">
      <div class="flex h-48 my-2 items-center justify-center rounded-lg border border-gray-200 bg-white text-lg font-semibold text-gray-700 md:flex grow">Backend</div>
      <div class="flex h-48 my-2 items-center justify-center rounded-lg border border-gray-200 bg-white text-lg font-semibold text-gray-700 md:flex grow">Frontend</div>
      <div class="flex h-48 my-2 items-center justify-center rounded-lg border border-gray-200 bg-white text-lg font-semibold text-gray-700 md:flex grow-1">Other</div>
    </section>


    <section class="mt-8 mb-6  flex flex-col md:flex-row md:gap-4">
      <div class="flex h-48 my-2 items-center justify-center rounded-lg border border-gray-200 bg-white text-lg font-semibold text-gray-700 md:flex grow">Project A</div>
      <div class="flex h-48 my-2 items-center justify-center rounded-lg border border-gray-200 bg-white text-lg font-semibold text-gray-700 md:flex grow">Project B</div>
      <div class="flex h-48 my-2 items-center justify-center rounded-lg border border-gray-200 bg-white text-lg font-semibold text-gray-700 md:flex w-full">See more projects</div>
    </section>
  </main>

  <!-- -footer -->
  <footer class="h-12 w-full flex items-center justify-center bg-[#035C31] text-white">
    <p class="text-sm text-center">&copy; 2025 Vinay Gajjar</p>
  </footer>

</Layout>