---
import Layout from '../layouts/Layout.astro';
---

<Layout>

  <!-- Header -->
  <header class="fixed top-0 left-0 z-40 flex h-16 w-full items-center bg-[#035C31] px-6 text-white">
    <h1 class="text-xl font-bold grow">Hi, I'm Vinay!</h1>
    <button>
      <!-- Boostrap Icons list icon -->
      <svg class="bi bi-list size-8" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
       <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>
    <nav class="hidden">
    <ul>
      <li><a href="#my-story">My Story</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projcts">Projects</a></li>
    </ul>
    </nav>
  </header>


  <main class="flex flex-col grow w-full mx-auto pt-16">
    <!-- Section 1 -->
    <section id="my-story">
      <h2 class="bg-[#FAFAF5] text-[#035C31] text-center text-lg font-bold p-2">My Story</h2>
      <!-- content wrapper div -->
      <div class="px-2 py-4 max-w-sm md:max-w-lg lg:max-w-3xl mx-auto">
        <!-- content -->
        <div class="flex h-48 items-center justify-center rounded-lg border border-gray-200 bg-white text-gray-700">My Story</div>
      </div>
    </section>

    <section id="skills">
      <h2 class="bg-[#FAFAF5] text-[#035C31] text-center text-lg font-bold p-2">Skills</h2>
      <!-- content wrapper div -->
      <div class="px-2 py-4 max-w-sm md:max-w-lg lg:max-w-3xl mx-auto">
        <!-- content -->
        <div class="grid grid-cols-1 gap-2 md:grid-cols-3">
          <div class="flex h-48 items-center justify-center rounded-lg border border-gray-200 bg-white text-gray-700">Backend</div>
          <div class="flex h-48 items-center justify-center rounded-lg border border-gray-200 bg-white text-gray-700">Frontend</div>
          <div class="flex h-48 items-center justify-center rounded-lg border border-gray-200 bg-white text-gray-700">Other</div>
        </div>
      </div>
    </section>


    <section id="projects">
      <h2 class="bg-[#FAFAF5] text-[#035C31] text-center text-lg font-bold p-2">Projects</h2>
      <!-- content wrapper div -->
      <div class="px-2 py-4 max-w-sm md:max-w-lg lg:max-w-3xl mx-auto">
        <!-- content -->
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
          <!-- project cards -->
          <div class="flex h-48 items-center justify-center rounded-lg border border-gray-200 bg-white text-gray-700">Project A</div>
          <div class="flex h-48 items-center justify-center rounded-lg border border-gray-200 bg-white text-gray-700">Project B</div>
          <div class="flex h-48 items-center justify-center rounded-lg border border-gray-200 bg-white text-gray-700">Project C</div>
          <div class="flex h-48 items-center justify-center rounded-lg border border-gray-200 bg-white text-gray-700">Project D</div>

          <!-- see more projects card -->
          <div class="flex h-48 items-center justify-center rounded-lg border border-gray-200 bg-white text-gray-700 col-span-full">See more projects</div>
        </div>
      </div>
    </section>
  </main>

  <!-- -footer -->
  <footer class="h-12 w-full flex items-center justify-center bg-[#035C31] text-white">
    <p class="text-sm text-center">&copy; 2025 Vinay Gajjar</p>
  </footer>

</Layout>