---
import '@fontsource-variable/inter';
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="motion-safe:scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Vinay Gajjar - Personal Website</title>
  </head>
  <body class="flex flex-col min-h-dvh bg-gray-100 font-sans">
    <slot />

        <script>
      let isOpen = false;
      document.addEventListener("DOMContentLoaded", () => {
        const navMenu = document.getElementById("nav-menu");
        const toggleNavMenuButton = document.getElementById("toggle-nav-menu");
        const [hamburgerIcon, xIcon] =
          toggleNavMenuButton.querySelectorAll("svg");

        const openNavMenu = () => {
            hamburgerIcon.classList.replace("opacity-100", "opacity-0");
            xIcon.classList.replace("opacity-0", "opacity-100");

            navMenu.classList.replace("translate-x-full", "translate-x-0");

            isOpen = true;
        }

        const closeNavMenu = () => {
            hamburgerIcon.classList.replace("opacity-0", "opacity-100");
            xIcon.classList.replace("opacity-100", "opacity-0");

            navMenu.classList.replace("translate-x-0", "translate-x-full");

            isOpen = false;
        }

                navMenu.querySelectorAll("a").forEach((link) => {
          link.addEventListener("click", () => {

              closeNavMenu();
          });
        });

        toggleNavMenuButton.addEventListener("click", () => {
          if (isOpen) {
              closeNavMenu();
          } else {
              openNavMenu();
          }
        });
      });
    </script>
  </body>
</html>
